/* ACCUEIL CONTAINER  */
.accueil-container {
  height: 476px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

/* LEFT PART - IMG POKEMON */
.left-part {
  width: 50%;
}

/* div pour la perspective 3D  */
.effect {
  perspective: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-content {
  transition: all 0.15s ease-out;
}

/* Image du Pokémon  */
.left-part img {
  height: 230px;
  width: 230px;
  background: var(--white);
  border: 3px solid var(--violet2);
  outline: 7px solid var(--white);
  border-radius: 10px;
  box-shadow: 10px 10px 12px 0 var(--blue);
}

/* RIGHT PART  */
.right-part {
  width: 50%;
  display: flex;
  justify-content: center;
}

/* LISTE CONTAINER  */
.ul-accueil {
  gap: 15px;
  display: flex;
  flex-direction: column;
}

/* EACH LIST ELEMENT  */
.list-container {
  background: var(--white);
  border-radius: 20px 0 0 20px;
  padding: 10px 20px;
  font-size: 25px;
  width: 350px;
  transition: transform 0.3s ease, opacity 0.3s ease;
  opacity: 0.8;
}

.navlink-accueil {
  text-decoration: none;
}

/* Pokémon currentIndex  */
.current {
  transform: scale(1.1);
  opacity: 1;
}

.list-container > .navlink-accueil,
.list-container > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  color: var(--black);
}

/* Pokéball dans la liste  */
.pokeballImg {
  width: 50px;
}

/* Nom des pokémons  */
.name-accueil {
  flex: 1;
  text-align: right;
}

@media screen and (max-width: 980px) {
  .accueil-container {
    flex-direction: column;
    justify-content: space-around;
  }

  .left-part img {
    height: 200px;
    width: 200px;
  }
}

@media screen and (max-width: 570px) {
  .list-container {
    font-size: 20px;
    width: 270px;
  }
}
