/* CONTENEUR */
.detail-container {
  display: flex;
  height: 476px;
  padding: 10px;
  overflow-y: scroll;
  scrollbar-color: var(--blue) transparent;
  scrollbar-width: thin;
}
/* LEFT PART - BOUTON RETOUR  */
.return {
  background: none;
  border: none;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.return:hover {
  transform: scale(1.2);
}

.return img {
  width: 50px;
}

/* CENTER PART - IMG ET INFO POKEMON  */
.center-detail {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

/* Nom du Pokémon avec étoile des fav  */
h3 {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.yellow-star {
  margin-top: 5px;
}

/* Conteneur img pokemon  */
.absolute {
  width: 300px;
  position: relative;
}

.img-detail {
  position: relative;
  width: 100%;
  z-index: 2;
}

/* Cercle en dessous du Pokémon  */
.circle {
  width: 350px;
  height: 150px;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  background: #ffffff91;
  z-index: 1;
  box-shadow: 3px 4px 8px rgb(62, 62, 62);
}

/* Liste types du pokémon  */
.ul-types {
  display: flex;
  gap: 10px;
}

.ul-types li {
  border-radius: 20px;
  padding: 5px 15px;
  color: var(--white);
}

/* RIGHT PART - DESC ET STATS POKEMON  */
.right-detail {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Description du pokémon  */
.description-detail {
  font-size: 12px;
  line-height: 18px;
}

/* Conteneur des stats pokémon  */
.stat-pokemon {
  background: #ffffff91;
  padding: 10px;
  box-shadow: 3px 4px 8px rgb(62, 62, 62);
}

/* Barre totale des stats  */
.custom-progress {
  display: flex;
  width: 100%;
  height: 16px;
  background-color: var(--white);
  border-radius: 10px;
  margin: 4px 0;
}

/* ProgressBar des stats  */
.custom-progress .progress-bar {
  background-color: var(--blue);
  border-radius: 10px;
}

@media screen and (max-width: 1050px) {
  .center-detail {
    width: 60%;
  }

  .circle {
    width: 290px;
    height: 125px;
  }

  .absolute {
    width: 230px;
  }

  .right-detail {
    width: 55%;
  }
}

@media screen and (max-width: 900px) {
  .detail-container {
    flex-direction: column;
  }

  .return img {
    width: 40px;
  }

  .center-detail {
    margin: 0 auto;
  }

  .ul-types {
    margin: 20px 0px 10px 0px;
  }

  .right-detail {
    width: 100%;
  }

  .stat-pokemon {
    margin-top: 20px;
  }
}
