/* CONTENEUR DE LA LISTE DES POKEMONS  */
.pokeList-container {
  padding: 10px;
}

/* NAV PART */
.pokeList-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding-bottom: 20px;
}

.searchBar {
  padding: 5px 10px;
}

/* CONTENEUR DE LA LISTE DES POKEMONS  */
.ul-pokeList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

/* Conteneur de chaque Pokémons  */
.li-pokeList {
  background: rgba(255, 255, 255, 0.766);
  border-radius: 10px;
  height: 150px;
  width: 150px;
  transition: transform 0.3s ease-in-out;
}

.li-pokeList:hover {
  transform: scale(1.05);
}

/* Contenu de chaque boîte  */
.navlink-pokelist {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: var(--blue1);
}

/* id du Pokémon  */
.id-pokelist {
  margin-bottom: 5px;
}

/* Nom du Pokémon  */
.name-pokelist {
  font-size: 12px;
}

@media screen and (max-width: 833px) {
  .pokeList-nav {
    flex-direction: column;
  }
}
